body{
	width: 100%;
	/*overflow-x: hidden;*/
}

.container{
	display:grid;
	grid-template-rows: 7rem auto 15rem;
	grid-template-columns: 9.375rem	 auto;
	max-width: 100vw;

}

header {
	position: fixed;
	width: 9.375rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
	display: grid;
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/14047127_1122910667766713_452372998490271705_o.jpg?oh=43a54a5f163ee55dd2ff98488adbc8ad&oe=5B06ED7E);
	overflow: hidden;
}

main{
	display: grid;
	grid-row: 1/3;
	grid-column: 2/-1;
	grid-template-rows: 100vh auto auto;
	grid-template-columns: repeat(3, 3fr);
	padding-bottom: 2rem;
}

#jumbotron{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column:1/-1;
	padding: 1rem;

	/*Making the Image flip*/
	position: relative;
	z-index: 1;
	perspective: 1000;
}
#jumbotron-card{
	display: flex;
	justify-content: center;
  	transform-style: preserve-3d;
  	transition: all 1.0s linear;
}
#jumbotron #jumbotron-card:hover {
  transform: rotateY(180deg);
}

.face.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.headshot{
	position: relative;
	max-height: 40.375rem;
	margin-left: 
}

#contact-info{
	display: grid;
	grid-column: 1/-1;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: center;
}

#projects{
	display: flex;
	grid-column: 1/-1;
	grid-template-rows: 3.125rem auto;
	grid-template-columns: repeat(3, 33%);
	justify-content: center;
	
}

.project-left{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	padding: .5rem; 
	margin-left: 2rem;
	text-align: center;
}
.project-mid{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	padding: .5rem; 
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
}
.project-right{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	padding: .5rem; 
	margin-right: 2rem;
	text-align: center;
}

/* Sidebar Work */
.sidebar {
    height: 100%;
    width: 9.375rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.25rem;
    margin-top: 7rem
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 15%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */	
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fixed-nav-list{
	display: flex;
	display: grid;
	flex-direction: column;
	justify-content: space-around;
	visibility: hidden;
}
.show-menu{
	visibility: visible;
	margin: auto;
}


#btn-modal{
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    width: 90%;
}
.btn-toggle{
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    width: 90%;
}
.btn1{
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    width: 90%;
}

.btn2{
	padding: 15px 32px;
    text-align: center;
    display: inline-block;
    width: 95%;
    margin: 10px 10px;
}

.btn3{
	padding: 15px 32px;
    text-align: center;
    display: inline-block;
    width: 95%;
    margin: 10px 10px;
}

footer{
	display: flex;
	grid-row: 3/-1;
	grid-column: 2/-1;
	max-height: 100rem;
	justify-content: center;
}

.-image-carousel-container{
  position: relative;
  max-width: 1000px;
  max-height: 100rem;
  margin: auto;
  display: flex;
}
.slide{
	display: none;

}
.text{
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-size: contain;
}
.numbertext{
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  /*position: absolute;*/
  top: 0;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  /*display: flex;*/
  justify-content: center;
}
.active, .dot:hover{
	background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}