  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	
}

.container{
	
}

header {
		border: solid; 
}

main{
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/11874998_928844030506712_6585627772532774171_o.jpg?oh=43e4768f7053366a8b3e5404c352d498&oe=5B18C25A);
	background-size: cover;
}

.face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back{
	color: black;
	background-color: ivory;
}
.face.back h2{
	text-decoration: underline;
}
.face.back p{
	font-size: 1.15em;
}

.front{	
	border-radius: 50%;	
}
.headshot{
	border-radius: 50%;	
}
.back{
	border-radius: 50%;	
	word-wrap: break-word;
}

#projects{
	
}

.toggle-text{
	display: none;
}

.project-left{
	border: solid;
	background-color: ivory;
	border-radius: 7.5%;
}
.project-mid{
	border: solid;
	background-color: ivory;
	border-radius: 7.5%;
}
.project-right{
	border: solid;
	background-color: ivory;
	border-radius: 7.5%;
}

/* Sidebar Work */
.sidebar {
    background-image:linear-gradient(red, yellow);
    border-right: solid;
    background-opacity: .75;
}

.fixed-nav-list{

}

#btn-modal{
	border: solid;
	color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
}

.btn-toggle{
	border: solid;
	color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
}

.btn1{
	border: solid;
	color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
}

.btn2{
	border: solid;
	color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn3{
	border: solid;
	color: black;
    text-decoration: none;
    cursor: pointer;
}
/*.image-carousel-container{
	background-image:linear-gradient(yellow, red);
}*/