
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
}

.main{
	display: grid;
	grid-template-rows: 500px 500px;
}

/* Sidebar Work
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    grid-column: 1/2;
} */

.footer{
	display:grid;
	grid-row: 2/3;

}