* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	max-width: 100%;
	overflow-x: hidden;
}

.container{
	display:grid;
	grid-template-rows: 110px auto 80px;
	grid-template-columns: 150px auto;
	max-width: 100vw;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
	max-height: 110px;
	width:150px;
	display: grid;
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/14047127_1122910667766713_452372998490271705_o.jpg?oh=43a54a5f163ee55dd2ff98488adbc8ad&oe=5B06ED7E);
	border: solid;
}

main{
	display: grid;
	grid-row: 1/3;
	grid-column: 2/-1;
	grid-template-rows: 646px auto auto;
	grid-template-columns: repeat(3, 3fr);
}

#jumbotron{
	display: flex;
	justify-content: center;
	border-bottom: solid;
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/11874998_928844030506712_6585627772532774171_o.jpg?oh=43e4768f7053366a8b3e5404c352d498&oe=5B18C25A);
	grid-column:1/-1;
}
.hello{
	position: relative;
	border: groove;
	margin-left: 
}

#about-me{
	display: grid;
	grid-column: 1/-1;
	padding-bottom: 15px;
	border: solid;
	background-color: ivory;
}

#projects{
	display: grid;
	display: flex;
	grid-column: 1/-1;
	grid-template-rows: 50px auto;
	grid-template-columns: repeat(3, 3fr);
	background-color: ivory;
}

.project{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	border: solid;
}

/* Sidebar Work */
.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aqua;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 110px;
    border-right: groove;
}

.fixed-nav-list{
	display: flex;
	display: grid;
	flex-direction: column;
	justify-content: space-around;
}
.about-me-link{color: green;}


footer{
	display:grid;
	grid-row: 3/4;
	background-color: orange;
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#social-media{
	display: flex;
}

.button{
	border: solid;
	color: honeydew;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    margin: 10px 10px;
    cursor: pointer;
}