  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	max-width: 100%;
	overflow-x: hidden;
}

.container{
	display:grid;
	grid-template-rows: 7rem auto;
	grid-template-columns: 9.375rem	 auto;
	max-width: 100vw;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
	max-height: 7rem;
	width:9.375rem;
	display: grid;
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/14047127_1122910667766713_452372998490271705_o.jpg?oh=43a54a5f163ee55dd2ff98488adbc8ad&oe=5B06ED7E);
	border: solid;
}

main{
	display: grid;
	grid-row: 1/3;
	grid-column: 2/-1;
	grid-template-rows: 100vh auto auto;
	grid-template-columns: repeat(3, 3fr);
	background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/11874998_928844030506712_6585627772532774171_o.jpg?oh=43e4768f7053366a8b3e5404c352d498&oe=5B18C25A);

	padding-bottom: 2rem;
}

#jumbotron{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column:1/-1;
	padding: 1rem;
}
.hello{
	position: relative;
	max-height: 40.375rem;
	border-radius: 50%;	
	border: groove;
	margin-left: 
}

#about-me{
	display: grid;
	grid-column: 1/-1;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-color: ivory;
	border-radius: 7.5%;
	text-align: center;
	border: solid;
}

#projects{
	display: grid;
	display: flex;
	grid-column: 1/-1;
	grid-template-rows: 3.125rem auto;
	grid-template-columns: repeat(3, 3fr);
	
}

.project-left{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	border: solid;
	padding: .5rem; 
	background-color: ivory;
	margin-left: 2rem;
	text-align: center;
	border-radius: 7.5%;
}
.project-mid{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	border: solid;
	padding: .5rem; 
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: ivory;
	text-align: center;
	border-radius: 7.5%;
}
.project-right{
	display: flex;
	display: grid;
	grid-column: 2/3;
	flex-direction: column;
	border: solid;
	padding: .5rem; 
	background-color: ivory;
	margin-right: 2rem;
	text-align: center;
	border-radius: 7.5%;
}

/* Sidebar Work */
.sidebar {
    height: 100%;
    width: 9.375rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aqua;
    overflow-x: hidden;
    padding-top: 1.25rem;
    margin-top: 7rem;
    border-right: solid;
    background-opacity: .75;
}

.fixed-nav-list{
	display: flex;
	display: grid;
	flex-direction: column;
	justify-content: space-around;
}

.btn1{
	border: solid;
	color: black;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
}

.btn2{
	border: solid;
	color: black;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 95%;
    margin: 10px 10px;
    cursor: pointer;
}

.btn3{
	border: solid;
	color: black;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 95%;
    margin: 10px 10px;
    cursor: pointer;
}